Repository shnizzedy/cpac-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-update-installation, check-types, lint, format, update-node-requirements

yarn-update-installation:
  name: Yarn Install
  entry: yarn install
  language: node
  pass_filenames: false
  additional_dependencies:
  - yarn
  require_serial: true

check-types:
  name: Type Check
  entry: bash -c "node .yarn/releases/yarn-*.cjs install && node .yarn/releases/yarn-*.cjs check-ts"
  language: system
  require_serial: true

lint:
  name: Lint TypeScript
  entry: yarn lint
  language: node
  additional_dependencies:
  - eslint
  - '@eslint/js'
  - eslint-plugin-typescript
  - globals
  - jiti
  - '@tsconfig/recommended'
  - typescript
  - typescript-eslint
  - '@typescript-eslint/eslint-plugin'
  - '@typescript-eslint/parser'
  - yarn
  require_serial: true

format:
  name: Format TypeScript
  entry: yarn format
  language: node
  additional_dependencies:
  - eslint
  - '@eslint/js'
  - eslint-plugin-typescript
  - globals
  - jiti
  - prettier
  - '@tsconfig/recommended'
  - typescript
  - typescript-eslint
  - '@typescript-eslint/eslint-plugin'
  - '@typescript-eslint/parser'
  - yarn
  ...

update-node-requirements:
  name: Update Node requirements in CONTRIBUTING.md
  entry: dev/update-node-requirements.js
  language: node
  additional_dependencies:
  - fs
  - path

:pencil2: Replace missing `>`
  src/pages/neuroimaging.html
Due: none

:construction_worker: Skip pre-commit typecheck on CI
  .pre-commit-config.yaml
Due: none

:wrench: Update vite configuration for bundling node dependencies
  develop/assets/bg-BQXA8rBk.png
  develop/assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
  develop/assets/content/pages/tutorials/custom-python-dependencies.yaml
  develop/assets/content/pages/tutorials/index.yaml
  develop/assets/content/pages/use/use.yaml
  develop/assets/cpac-BBLm4-Fi.png
  develop/assets/css/main.css
  develop/assets/js/types/js-yaml/index.d.ts
  develop/assets/logo-BFgMblOB.png
  develop/assets/main-COfgFZTp.css
  develop/assets/main-Coiaj1n7.js
  develop/index.html
  develop/pages/neuroimaging.html
  develop/pages/tutorials/custom-python-dependencies.html
  develop/pages/use.html
Due: yarn-update-installation, check-types, lint, format

:necktie: `innerHTML` ← `textContent`
  develop/assets/render-B6AjeA-o.js
  develop/pages/tutorials/custom-python-dependencies.html
  develop/pages/tutorials/index.html
  develop/pages/tutorials/optimize-memory-estimation.html
  develop/pages/tutorials/tutorial1.html
  develop/pages/tutorials/tutorial3.html
  develop/pages/tutorials/tutorial4.html
  develop/pages/tutorials/tutorial5.html
  develop/pages/tutorials/tutorial6.html
  develop/pages/tutorials/tutorial8.html
  develop/pages/tutorials/tutorial9.html
Due: yarn-update-installation

:construction_worker: Change checkout path to root
  develop/assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

:necktie: `innerHTML` ← `textContent`
  develop/assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

Path conditions:
  yarn-update-installation: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  check-types: any of: \.(ts|mts|cts)$
  lint: any of: \.(ts|mts|cts)$
  format: any of: \.(ts|mts|cts)$
  update-node-requirements: any of: ^package\.json$|^CONTRIBUTING\.md$
