Repository shnizzedy/cpac-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-update-installation, check-types, lint, format, compile-ts

.pre-commit-config.yaml:

ci:
  skip:
    - yarn-update-installation
    - lint

repos:
  - repo: local
    hooks:
      - id: yarn-update-installation
        name: Yarn Install
        entry: yarn install
        language: node
        types_or: [ts, javascript, json]
        pass_filenames: false
        additional_dependencies: [yarn]
        require_serial: true

      - id: check-types
        name: Type Check
        entry: yarn check-ts
        language: node
        types: [ts]
        additional_dependencies:
          - eslint
          - "@eslint/js"
          - eslint-plugin-typescript
          - globals
          - jiti
          - "@tsconfig/recommended"
          - typescript
          - typescript-eslint
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - yarn
        require_serial: true

      - id: lint
        name: Lint TypeScript
        entry: yarn lint
        language: node
        types: [ts]
        additional_dependencies:
          - eslint
          - "@eslint/js"
          - eslint-plugin-typescript
          - globals
          - jiti
          - "@tsconfig/recommended"
          - typescript
          - typescript-eslint
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - yarn
        require_serial: true

      - id: format
        name: Format TypeScript
        entry: yarn format
        language: node
        types: [ts]
        additional_dependencies:
          - eslint
          - "@eslint/js"
          - eslint-plugin-typescript
          - globals
          - jiti
          - prettier
          - "@tsconfig/recommended"
          - typescript
          - typescript-eslint
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - yarn
        require_serial: true

      - id: compile-ts
        name: Compile TypeScript
        entry: yarn build
        language: node
        types: [ts]
        additional_dependencies:
          - eslint
          - "@eslint/js"
          - eslint-plugin-typescript
          - globals
          - jiti
          - "@tsconfig/recommended"
          - typescript
          - typescript-eslint
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - yarn
        require_serial: true

:rewind: Revert ":bug: Fix relative paths in versions index"
  index.html
  package.json
Due: yarn-update-installation

:necktie: Copy `latest` to top-level
  dev/collect-versions.sh
  package.json
  vite.config.js
  yarn.lock
Due: yarn-update-installation

:pencil2: Specify project dir for versions
  CONTRIBUTING.md
  dev/update-node-requirements.js
  index.html
Due: yarn-update-installation

:pencil2: Specify project dir for versions
  index.html
Due: none

:truck: Move things around for versions page
  .gitignore
  dev/build.js
  dev/collect-versions.sh
  dev/copy-global-assets.js
  dev/copy.js
  package.json
  src/assets/js/render.ts
  src/assets/js/types/js-yaml.d.ts
  tsconfig.json
  vite.config.js
  yarn.lock
Due: yarn-update-installation, check-types, lint, format, compile-ts

:truck: Move things around for versions page
  assets/js/render.js
  assets/js/types/js-yaml.d.ts
  develop/assets/js/render.js
  develop/assets/js/types/js-yaml.d.ts
  latest/assets/js/render.js
  latest/assets/js/types/js-yaml.d.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

:construction_worker: Set up CI for publishing
  .github/workflows/publish.yaml
Due: none

fixup! :truck: Move things around for versions page
  src/assets/js/header.ts
  src/assets/js/render.ts
  src/assets/js/types/js-yaml/index.d.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

fixup! :pencil2: Specify project dir for versions
  assets/js/header.js
  assets/js/render.js
  develop/assets/js/header.js
  develop/assets/js/render.js
  latest/assets/js/header.js
  latest/assets/js/render.js
Due: yarn-update-installation

:construction_worker: Don't format on pre-commit.ci
  .pre-commit-config.yaml
Due: none

:construction_worker: Specify `github.workspace` in publish workflow
  .github/workflows/publish.yaml
Due: none

:truck: Rename source repo on CI to avoid collision
  .github/workflows/publish.yaml
Due: none

:construction_worker: Require yarn for pre-commit CI typecheck
  .pre-commit-config.yaml
Due: none

:passport_control: Add config files to CODEOWNERS
  .github/CODEOWNERS
Due: none

:construction_worker: Remove redundant git config
  .github/workflows/publish.yaml
Due: none

:construction_worker: Check types with BASH + yarn PnP
  .pre-commit-config.yaml
Due: none

:construction_worker: Set up token for pushing gh-pages
  .github/workflows/publish.yaml
Due: none

:construction_worker: Install yarn on pre-commit ci system
  .pre-commit-config.yaml
Due: none

:rewind: Revert ":construction_worker: Install yarn on pre-commit ci system"
  .pre-commit-config.yaml
Due: none

:construction_worker: Use bunlded yarn
  .pre-commit-config.yaml
Due: none

:construction_worker: Collect versions
  .github/workflows/publish.yaml
Due: none

:construction_worker: Install before checking types
  .pre-commit-config.yaml
Due: none

:construction_worker: Cleanup `DOCS_VERSION` logic
  .github/workflows/publish.yaml
Due: none

:construction_worker: Drop workplace dispatch trigger
  .github/workflows/publish.yaml
Due: none

:loud_sound: Increase verbosity
  .github/workflows/publish.yaml
  dev/build.js
  dev/collect-versions.sh
  dev/copy-global-assets.js
  dev/copy.js
Due: yarn-update-installation

:construction_worker: Set gh-pages directory in job instead of in env
  .github/workflows/publish.yaml
Due: none

:construction_worker: Use SSH for gh-pages
  .github/workflows/publish.yaml
Due: none

:construction_worker: Reverse version sort
  dev/collect-versions.sh
Due: none

:memo: Add CI/CD info to CONTRIBUTING
  CONTRIBUTING.md
Due: none

:memo: Add 'GitHub Actions configuration' section
  CONTRIBUTING.md
Due: none

:bug: Clean up versioning script
  dev/collect-versions.sh
Due: none

:fire: Remove unused plugin
  vite.config.js
Due: yarn-update-installation
