Repository shnizzedy/cpac-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-update-installation, check-types, lint, format, compile-ts

yarn-update-installation:
  name: Yarn Install
  entry: yarn install
  language: system
  pass_filenames: false

check-types:
  name: Type Check
  entry: yarn check-ts
  language: system

lint:
  name: Lint TypeScript
  entry: yarn lint
  language: system

format:
  name: Format TypeScript
  entry: yarn format
  language: system

compile-ts:
  name: Compile TypeScript
  entry: yarn build
  language: system

:pencil2: Fix relative import
  assets/js/render.js
  assets/ts/render.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

:necktie: Include project slug in URL
  assets/js/render.js
  assets/ts/render.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

edits
  assets/css/main.css
  assets/js/about.js
Due: yarn-update-installation

how to use headings
  assets/content/pages/use/use.yaml
Due: none

another header
  assets/content/pages/use/use.yaml
Due: none

Update mermaid plot for anatomical_init
  assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

Update mermaid plot for acpc_alignment_head
  assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

Update mermaid plot for acpc_alignment_head_with_mask
  assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

Update mermaid plot for acpc_align_brain
  assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

Update mermaid plot for acpc_align_brain_with_mask
  assets/content/pages/neuroimaging/nodeblock_descriptors/anatomical_preprocessing.yaml
Due: none

:recycle: SSOT Grid, titles, and footer
  assets/content/pages/about/about.yaml
  assets/content/pages/tutorials/index.yaml
  assets/content/pages/tutorials/tutorial3.yaml
  assets/content/pages/tutorials/tutorial4.yaml
  assets/content/pages/tutorials/tutorial5.yaml
  assets/content/pages/tutorials/tutorial6.yaml
  assets/css/main.css
  assets/js/header.js
  assets/js/render.js
  assets/ts/header.ts
  assets/ts/render.ts
  assets/ts/types/types.ts
  pages/tutorials.html
  pages/tutorials/index.html
  pages/tutorials/tutorial2.html
  pages/tutorials/tutorial3.html
  pages/tutorials/tutorial4.html
  pages/tutorials/tutorial5.html
  pages/tutorials/tutorial6.html
  pages/tutorials/tutorial7.html
  pages/tutorials/tutorial8.html
  pages/tutorials/tutorial9.html
Due: yarn-update-installation, check-types, lint, format, compile-ts

:bug: Fix URL constructor
  assets/js/render.js
  assets/ts/render.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

:construction_worker: Install yarn in pre-commit environment
  .pre-commit-config.yaml
Due: none

:construction_worker: Skip yarn install on pre-commit.ci
  .pre-commit-config.yaml
  assets/js/render.js
  package.json
  yarn.lock
Due: yarn-update-installation

:bug: Fix URL constructor
  assets/js/render.js
Due: yarn-update-installation

:necktie: Include project slug in URL
  assets/js/render.js
Due: yarn-update-installation

:recycle: DRY tutorial page scripts
  assets/content/pages/tutorials/index.yaml
  assets/content/pages/tutorials/tutorial1.yaml
  assets/content/pages/tutorials/tutorial2.yaml
  assets/css/main.css
  assets/js/assets/ts/header.js
  assets/js/assets/ts/render.js
  assets/js/assets/ts/types/types.js
  assets/js/header.js
  assets/js/render.js
  assets/js/tutorial1.js
  assets/js/tutorial2.js
  assets/js/tutorial3.js
  assets/js/tutorial4.js
  assets/js/tutorial5.js
  assets/js/tutorial6.js
  assets/js/tutorial7.js
  assets/js/tutorial8.js
  assets/js/tutorial9.js
  assets/js/types.js
  pages/tutorials.html
  pages/tutorials/tutorial1.html
  pages/tutorials/tutorial2.html
  pages/tutorials/tutorial3.html
  pages/tutorials/tutorial4.html
  pages/tutorials/tutorial5.html
  pages/tutorials/tutorial6.html
  pages/tutorials/tutorial7.html
  pages/tutorials/tutorial8.html
  pages/tutorials/tutorial9.html
Due: yarn-update-installation

:pencil2: Fix relative import
  assets/js/render.js
Due: yarn-update-installation

:recycle: SSOT Grid, titles, and footer
  assets/content/pages/about/about.yaml
  assets/content/pages/tutorials/index.yaml
  assets/content/pages/tutorials/tutorial3.yaml
  assets/content/pages/tutorials/tutorial4.yaml
  assets/content/pages/tutorials/tutorial5.yaml
  assets/content/pages/tutorials/tutorial6.yaml
  assets/css/main.css
  assets/js/header.js
  assets/js/render.js
  pages/tutorials.html
  pages/tutorials/index.html
  pages/tutorials/tutorial2.html
  pages/tutorials/tutorial3.html
  pages/tutorials/tutorial4.html
  pages/tutorials/tutorial5.html
  pages/tutorials/tutorial6.html
  pages/tutorials/tutorial7.html
  pages/tutorials/tutorial8.html
  pages/tutorials/tutorial9.html
Due: yarn-update-installation

:bulb: Drop TS comments
  assets/js/assets/ts/header.js
  assets/js/assets/ts/render.js
  assets/js/header.js
  assets/js/render.js
  assets/js/types.js
Due: yarn-update-installation

how to use page structure
  assets/content/pages/use/use.yaml
Due: none

:construction_worker: Skip lint on pre-commit.ci
  .pre-commit-config.yaml
  assets/js/render.js
Due: yarn-update-installation

use updated + codeblock functionality
  assets/content/pages/use/use.yaml
  assets/css/main.css
  assets/js/use.js
  pages/use.html
Due: yarn-update-installation

:fire: Remove duplicate files
  assets/js/assets/ts/header.js
  assets/js/assets/ts/render.js
  assets/js/assets/ts/types/types.js
Due: yarn-update-installation

:rewind: Restore JSON pre-commit hooks
  .pre-commit-config.yaml
  tsconfig.json
Due: yarn-update-installation

more use page
  assets/content/pages/use/use.yaml
  assets/js/use.js
Due: yarn-update-installation

:memo: Add Observed Usage tutorial
  assets/content/pages/tutorials/tutorial2.yaml
  assets/css/main.css
  assets/js/render.js
  assets/ts/render.ts
  assets/ts/types/types.ts
Due: yarn-update-installation, check-types, lint, format, compile-ts

:memo: Drop construction aside from tutorial 2
  pages/tutorials/tutorial2.html
Due: none

:truck: Rename tutorial2
  assets/content/pages/tutorials/index.yaml
  assets/content/pages/tutorials/optimize-memory-estimation.yaml
  pages/tutorials/optimize-memory-estimation.html
Due: none

more use page
  assets/content/pages/use/use.yaml
Due: none

more use page
  assets/js/use.js
Due: yarn-update-installation

:bug: Fix relative paths in versions index
  index.html
  package.json
Due: yarn-update-installation

:bug: Fix relative paths in versions index
  index.html
Due: none

:bug: Fix project slug for version page
  develop/assets/js/render.js
Due: yarn-update-installation

:bug: Handle assets for versions page
  develop/assets/js/render.js
Due: yarn-update-installation

Path conditions:
  yarn-update-installation: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  check-types: any of: \.(ts|mts|cts)$
  lint: any of: \.(ts|mts|cts)$
  format: any of: \.(ts|mts|cts)$
  compile-ts: any of: \.(ts|mts|cts)$
